$colors: (
  'primary': #212353,
  'secondary': #12121f,
  'general-white': #ffffff,
  'general-black': #000000,
  'additional': #afafbd,
);

$bg-colors: (
  'primary': #fbfbfb,
  'accent': #3664d8,
  'general-white': #ffffff,
);

$borders: (
  'primary': 1px solid #ececec,
  'secondary': 1px solid rgba(33, 33, 33, 0.2),
  'icon': 1px solid #afb1b8,
  'accent': 1px solid #2196f3,
  'input': 1px solid rgba(255, 255, 255, 0.3),
  'checkbox': 2px solid #212121,
);

$box-shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);

$box-shadow-secondary: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-simple: 0px 4px 4px rgba(0, 0, 0, 0.15);

$main-gap: 30px;

$primary-border-radius: 4px;

$general-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$general-duration: 250ms;

$transitions: (
  'color': color $general-duration $general-cubic,
  'background-color': background-color $general-duration $general-cubic,
  'transform': transform $general-duration $general-cubic,
  'box-shadow': box-shadow $general-duration $general-cubic,
  'border': border $general-duration $general-cubic,
  'opacity': opacity $general-duration $general-cubic,
  'visibility': visibility $general-duration $general-cubic,
  'fill': fill $general-duration $general-cubic,
);
